<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WarehouseReports.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <connectionStrings>
    <add name="WarehouseDataEntities" connectionString="metadata=res://*/WarehouseData.csdl|res://*/WarehouseData.ssdl|res://*/WarehouseData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\WarehouseData.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="WarehouseReports.MySettings.WarehouseDataConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\WarehouseData.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <WarehouseReports.MySettings>
      <setting name="FileMovement" serializeAs="String">
        <value>Movement</value>
      </setting>
      <setting name="FilePlacement" serializeAs="String">
        <value>Placement</value>
      </setting>
      <setting name="FileResupply" serializeAs="String">
        <value>Resupply</value>
      </setting>
      <setting name="FileKPI" serializeAs="String">
        <value>KPI</value>
      </setting>
      <setting name="FilePipeline" serializeAs="String">
        <value>Pipeline</value>
      </setting>
      <setting name="FileManualResupply" serializeAs="String">
        <value>ManualResupply</value>
      </setting>
    </WarehouseReports.MySettings>
  </applicationSettings>
</configuration>
